
    <form method="get" action="/quizes/answer">
    Pregunta: <%= pregunta %> <p>
    <input type="text" name="respuesta" value="<%= respuesta %>" placeholder="Indique su respuesta aquí" />
    <input type="submit"  value="Comprobar" />
    </form>

